<h2>Summary</h2>
<div id="summary">
   <p>
     Reinforcement Learning is a complex subject with a growing set of tools and practitioners.
     The tools output data created during RL training that help us assess the succcess of the
     algorithm and scenario configuration. The graphs, above, demonstrate that the
     PPO2 algorithm was successful in reducing Value Loss and increasing Episode Reward
     while training the agent policy.
     The reward graph of the trained agent proves that the trained agent is gathering reward
     from its policy as the agent interacts with its environment. The graphs provide visual
     verification of the progress and success of the complex RL algorithms.
   </p>
   <p>
       For more on this topic, check out the following references:
       <ul>
         <li>
       <a href="https://openai.com/blog/spinning-up-in-deep-rl/">
         Spinning up in Deep RL - Educational Resource
       </a>
       </li>
       <li>
      <a href="https://www.kdnuggets.com/2018/03/5-things-reinforcement-learning.html">
         5 Things You Need to Know about Reinforcement Learning
       </a>
     </li>
     <li>
      <a href="https://www.scholarpedia.org/article/Reinforcement_learning">
         Scholarpedia: Reinforcement learning
       </a>

     </li>
  </p>
</div>
