<h2>Introduction to Reinforcement Learning</h2>
<div id="intro">
     <p>
       The G6 project team uses OpenAI Gym Retro Reinforcement
       Learning framework to train an agent to play through
       the classic Nintendo game, Super Mario Bros.
    </p>
    <p>
        <b>Reinforcement Learning (RL)</b> is the process of training an agent to
      incrementally improve its action policy to get more rewards in an environment
      over the course of multiple trials.
      RL agents learn by assessing the consequence of their actions in the given environment.
      Games have easily defined reward values, so RL is commonly used in game environments.
    </p>
</div>
